{% extends "base.html" %}

{% block content %}
<body>
    <h1>Expense Summary</h1>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Total Spending</th>
            </tr>
        </thead>
        <tbody>
            {% for category, amount in categories.items() %}
            <tr>
                <td>{{ category }}</td>
                <td>{{ amount }}</td>
            </tr>
            {% endfor %}
            <tr class="total-row">
                <td><strong>Total</strong></td>
                <td><strong>{{ total_amount }}</strong></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
{% endblock %}